# Running SQL in Jupyter notebook

In [1]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\rlee\anaconda3\lib\site-packages (0.3.9)
Requirement already satisfied: prettytable in c:\users\rlee\anaconda3\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: sqlparse in c:\users\rlee\anaconda3\lib\site-packages (from ipython-sql) (0.3.0)
Requirement already satisfied: ipython>=1.0 in c:\users\rlee\anaconda3\lib\site-packages (from ipython-sql) (7.8.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\rlee\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: six in c:\users\rlee\anaconda3\lib\site-packages (from ipython-sql) (1.12.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\rlee\anaconda3\lib\site-packages (from ipython-sql) (1.3.9)
Requirement already satisfied: decorator in c:\users\rlee\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (4.4.0)
Requirement already satisfied: backcall in c:\users\rlee\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.0)
Requirement already satisfied: traitlets>=4.2 in c:\users\rlee\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (4.3.3)
Requirement already satisfied: pygments in c:\users\rlee\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.4.2)
Requirement already satisfied: setuptools>=18.5 in c:\users\rlee\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (41.4.0)
Requirement already satisfied: pickleshare in c:\users\rlee\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit<2.1.0,>=2.0.0 in c:\users\rlee\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.0.10)
Requirement already satisfied: jedi>=0.10 in c:\users\rlee\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.15.1)
Requirement already satisfied: colorama; sys_platform == "win32" in c:\users\rlee\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.1)
Requirement already satisfied: wcwidth in c:\users\rlee\anaconda3\lib\site-packages (from prompt-toolkit<2.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.1.7)
Requirement already satisfied: parso>=0.5.0 in c:\users\rlee\anaconda3\lib\site-packages (from jedi>=0.10->ipython>=1.0->ipython-sql) (0.5.1)

In [2]:
%load_ext sql

In [3]:
!pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\rlee\anaconda3\lib\site-packages (2.8.4)

In [4]:
DB_ENDPOINT = "localhost"
DB = 'PPPRVU20_Jan'
DB_USER = 'postgres'
DB_PASSWORD = 'postgres'
DB_PORT = '5432'

# postgresql://username:password@host:port/database
conn_string = "postgresql://{}:{}@{}:{}/{}" \
                        .format(DB_USER, DB_PASSWORD, DB_ENDPOINT, DB_PORT, DB)

print(conn_string)

postgresql://postgres:postgres@localhost:5432/PPPRVU20_Jan

In [5]:
%sql $conn_string

'Connected: postgres@PPPRVU20_Jan'

In [6]:
import pandas as pd
from sqlalchemy import create_engine

Extract

```sql

-- create table for data
CREATE TABLE CPT_codes (
HCPCS TEXT PRIMARY KEY,
DESCRIPTION TEXT,
RVU TEXT,
FACTOR TEXT
	);
	
DROP TABLE CPT_codes;
	
```

# Store CSV into DataFrame

In [7]:
csv_file = "PPPRVU20_Jan_cleaned.csv"
cpt_codes_df = pd.read_csv(csv_file)
cpt_codes_df

       HCPCS                   DESCRIPTION  RVU   FACTOR
0      A0021  Outside state ambulance serv  0.0  36.0896
1      A0080  Noninterest escort in non er  0.0  36.0896
2      A0090     Interest escort in non er  0.0  36.0896
3      A0100   Nonemergency transport taxi  0.0  36.0896
4      A0110    Nonemergency transport bus  0.0  36.0896
...      ...                           ...  ...      ...
17232  99602   Home infusion each addtl hr  0.0  36.0896
17233  99605       Mtms by pharm np 15 min  0.0  36.0896
17234  99606      Mtms by pharm est 15 min  0.0  36.0896
17235  99607     Mtms by pharm addl 15 min  0.0  36.0896
17236                                 NaN  NaN      NaN

[17237 rows x 4 columns]

# Clean DataFrame

In [8]:
cpt_codes_df = cpt_codes_df.dropna()
cpt_codes_df

       HCPCS                   DESCRIPTION  RVU   FACTOR
0      A0021  Outside state ambulance serv  0.0  36.0896
1      A0080  Noninterest escort in non er  0.0  36.0896
2      A0090     Interest escort in non er  0.0  36.0896
3      A0100   Nonemergency transport taxi  0.0  36.0896
4      A0110    Nonemergency transport bus  0.0  36.0896
...      ...                           ...  ...      ...
17231  99601     Home infusion/visit 2 hrs  0.0  36.0896
17232  99602   Home infusion each addtl hr  0.0  36.0896
17233  99605       Mtms by pharm np 15 min  0.0  36.0896
17234  99606      Mtms by pharm est 15 min  0.0  36.0896
17235  99607     Mtms by pharm addl 15 min  0.0  36.0896

[17236 rows x 4 columns]

# Connect to local database

In [9]:
rds_connection_string = "postgres:postgres@localhost:5432/PPPRVU20_Jan"
#user name is postgres
engine = create_engine(f'postgresql://{rds_connection_string}')

In [10]:
cpt_codes_df = cpt_codes_df.rename(columns={"HCPCS": "hcpcs", "DESCRIPTION": "description", "RVU": "rvu", "FACTOR":"factor"})
cpt_codes_df

       hcpcs                   description  rvu   factor
0      A0021  Outside state ambulance serv  0.0  36.0896
1      A0080  Noninterest escort in non er  0.0  36.0896
2      A0090     Interest escort in non er  0.0  36.0896
3      A0100   Nonemergency transport taxi  0.0  36.0896
4      A0110    Nonemergency transport bus  0.0  36.0896
...      ...                           ...  ...      ...
17231  99601     Home infusion/visit 2 hrs  0.0  36.0896
17232  99602   Home infusion each addtl hr  0.0  36.0896
17233  99605       Mtms by pharm np 15 min  0.0  36.0896
17234  99606      Mtms by pharm est 15 min  0.0  36.0896
17235  99607     Mtms by pharm addl 15 min  0.0  36.0896

[17236 rows x 4 columns]

# Check for tables

In [11]:
engine.table_names()

['cpt_codes']

# Use pandas to load csv converted DataFrame into database

In [12]:
cpt_codes_df.to_sql(name='cpt_codes', con=engine, if_exists='append', index=False)

# Confirm data has been added by querying the customer_name table
* NOTE: can also check using pgAdmin

In [13]:
pd.read_sql_query('select * from cpt_codes', con=engine).head()

   hcpcs                   description  rvu   factor
0  A0021  Outside state ambulance serv  0.0  36.0896
1  A0080  Noninterest escort in non er  0.0  36.0896
2  A0090     Interest escort in non er  0.0  36.0896
3  A0100   Nonemergency transport taxi  0.0  36.0896
4  A0110    Nonemergency transport bus  0.0  36.0896